.heroContainer{
    background-image: url("../../assets/childs.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 4em;
    h1.title{
        font-size: 5em;
    }
}