.heroContainer {
  background: url("../../assets/comunidade-alegre.jpg") no-repeat center center;
  background-size: cover;
  margin-bottom: 5em;

  .hero-wrapper {
    display: flex;
    justify-content: center;
  }
  h1.title {
    font-size: 6rem;
  }
  & .botaoHero {
    width: 100%;
    max-width: 415px;
  }
}
