@import "../../App.scss";
.contentCard {
  padding-left: $padding-content;
  padding-right: $padding-content;
  text-align: justify;
}
@media screen and (max-width: 769px){
    .contentCard {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and (min-width: 769px) {
  .contentCard {
    padding-top: 3em;
    padding-bottom: 3em;
  }
  .card-content{
    padding: 0 !important;
  }
}

.hero-body{
  .container{
    margin: 0;
    padding: 0px !important;
  }
}
