@import "../../App.scss";
.navbar {
  //background-color: rgba(0, 0, 0, 0.3);
  // background: #0d85ff;
}

nav.navbar.is-fixed-top {
  background-color: rgba(0, 0, 0, 0);
}

.hero.is-default-blue .navbar-item,
.hero.is-default-blue .navbar-link {
  color: #fff !important;
}

.logo {
  filter: grayscale(100%) brightness(255);
  height: 100%;
}
