@media screen and (max-width: 769px){
    .responsiveImage{
        background-position: top !important;
        height: 15em;
        flex-direction: row !important;
        align-items: flex-end !important;
        div{
            margin: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-items: flex-start;
            padding: 2em;
        }
    }
}
#section1{
    background-position: top !important;
}
#section8{
    height: 50%;
}
// .responsiveImage{
//     filter: contrast(60%) hue-rotate(-0.10turn);
    
// }