@media screen and (max-width: 769px) {
  .responsiveImage {
    background-position: top !important;
    height: 15em;
    flex-direction: row !important;
    align-items: flex-end !important;
    div {
      margin: 0 !important;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      padding-left: 0.9em !important;
    }
  }
}
#section1 {
  background-position: top !important;
}
#section9 {
  height: 50%;
}
.container > .is-2.title {
  max-width: 450px;
  span {
    padding-bottom: 5px;
    border-bottom: 3px solid #f80303;
    line-height: 48px;
    border-radius: 3px;
  }
}
