@charset 'utf-8';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import "~bulma/sass/utilities/functions";
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

// add new colors
$default-blue: #0D85FF !default;
$default-blue-invert: findColorInvert($default-blue) !default;
$default-orange: #FF8A00;
$default-yellow: #FFD600;
$default-light: #F2F1EA;

$padding-content: 4.3em;

//default font
$default-font: 'Raleway';

$custom-colors: (
    "default-blue": ($default-blue, $default-blue-invert),
    "default-orange": ($default-orange),
    "default-yellow": ($default-yellow),
    "default-light": ($default-light)
);

// $react: #00d8ff !default
// $react-invert: findColorInvert($react) !default
// $custom-colors: ("react": ($react, $react-invert))

// Import Bulma styles
@import "~bulma/bulma";

// Import rbx style fixes (**very simple**)
@import "~rbx/rbx";

#section5{
    margin-bottom: 1.5em;
}